*{
    padding: 0;
    margin: 0;
}

header{
    width: 100%;
    background-color: hotpink !important;
    font-size: 30px;
    height: 80px;
}

nav{
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
    
}

.title{
    font-size: 20px;
    margin-top: -25px;
    
}
.title:hover{
    color:#1890ff;
    cursor: pointer;
}


.navb{
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul{
   display: flex;
   width: 250px;
   justify-content: space-between;
   display: flex;
    flex-direction: row;
    gap: 70px;
}



.link{
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 20px;
    
    
    
}

sup{
    top: -4em;
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
    margin-left: 80px;
}

.link:hover{
   color:#1890ff
  
} 

li{
    text-decoration: none;
    list-style: none;
   
    
    padding: 20px;
    width: 50px;
    margin-left: -50px;
    
    
}